/* GiveMeSomethingToCode */


/* Reset */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*::selection {
    color: #fff;
    background: #FA6900;
}

*::-moz-selection {
    color: #fff;
    background: #FA6900;
}

/* END Reset */


/* Basics */

html {
    height: 100%;
}

body {
    padding: 3em;
    min-height: 100%;
    font-family: "jubilat", Helvetica, Arial, sans-serif;
    font-size: 100%;
    background: #fdfdf3;
    border: 0.8em solid #69D2E7;
}

@media (max-width: 600px) {
    body {
        font-size: 80%;
    }
}

@media (max-width: 440px) {
    body {
        font-size: 70%;
    }
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.page-wrap {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.page-logo {
    margin: 0 0 0.7em;
    color: #F38630;
    font-size: 5em;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}

.btn {
    display: block;
    width: 310px;
    margin: 0 auto 3em;
    padding: 0.8em 0;
    color: #fff;
    font-size: 1.4em;
    line-height: 1;
    text-decoration: none;
    background: #69D2E7;
    border: 0;
    border-radius: 1em;
}

@media (max-width: 440px) {
    .btn {
        width: 100%;
    }
}

.btn:hover {
    background: #64cade;
    cursor: pointer;
}

/* END  Basics */


/* Item */

.item {
    position: relative;
    display: inline-block;
    margin: 0 0 4.8em;
    padding: 1.7em;
    max-width: 800px;
    background: #fff;
    border: 0.3em solid #E0E4CC;
}

.item img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 800px) {
    .item {
        display: block;
    }
}

.item-title {
    margin: 0 0 0.1em;
    color: #333;
    font-size: 2em;
    line-height: 1.2;
    font-weight: 700;
}

.item-meta {
    margin: 0 0 1.3em;
    color: #aaa;
    font-size: 1em;
    line-height: 1.2;
}

.item-meta a {
    color: #aaa;
}

/* END Item */


/* Footer */

.page-footer {
    color: #adb09d;
    font-size: 1em;
    line-height: 1.5;
}

.page-footer a {
    color: #adb09d;
}

/* END Footer */